.countries {
    width: 100%;
    height: 1200px;
    /* border: 1px solid red; */
    background-image: url(../../images/pexels-aaditya-arora-592753.jpg);
    background-size: cover;
    background-position:center;
    /* background: #323232; */
}

@media screen and (max-width: 1400px) {
    .countries{
        height: 1500px;
    }
}

.countries_cards_container {
    width: 80%;
    min-height: 800px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
   /*  background-image: url(../../images/pexels-filippo-peisino-2678301\ \(1\).jpg);
    background-size: cover; */
}

.filter_container {
    height: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #202020;
}

.input_container {
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.search_form {
    width: 300px;
    height: 40px;
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}

.buscador {
    width: 300px;
    height: 100%;
    outline: none;
    border: none;
    background: #323232;
    color: #fff;
    padding-top: 20px;
}

.search_form .lbl_buscador {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}

.search_form .lbl_buscador:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #08FDD8;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    font-size: 16px;
    color: transparent;
    /* color: rgb(136, 136, 136); */
}

/* .search_form .buscador:focus + .lbl_buscador .text,
.search_form .buscardor:valid + .lbl_buscador .text{
    transform: translateY(-80%);
    font-size: 14px;
    color: #08FDD8;
} */
/* .search_form .buscardor:valid + .lbl_buscador .text{
    transform: translateY(-80%);
    font-size: 14px;
    color: #08FDD8;
} */

.search_form .buscador:focus + .lbl_buscador:after{
    transform: translateX(0%);
}

.search {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.select {
    width: 120px;
    height: 100%;
    background: #323232;
    color: rgb(136, 136, 136);
    border: 0.5px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.select:focus{
    border: 0.5px solid #08FDD8;
    color: #08FDD8;
    transition: all 0.3s ease-in-out;
}
.select:hover{
    border: 0.5px solid #08FDD8;
    color: #08FDD8;
    transition: all 0.3s ease-in-out;
}

.filter {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.order {
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

/* .order button {
    width: 60px;
    height: 30px;
    color: #08FDD8;
    outline: none;
    border: 1px solid #08FDD8;
    background: transparent;
    cursor: pointer;
} */

.btn_alfabetic {
    width: 60px;
    height: 30px;
    color: #08FDD8;
    outline: none;
    border: 1px solid #08FDD8;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn_alfabetic:hover {
    background-color: #08FDD8;
    color: #111;
    font-weight: bolder;
}

.btn_population{
    width: 60px;
    height: 30px;
    color: #08FDD8;
    outline: none;
    border: 1px solid #08FDD8;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}
.btn_population:hover {
    background-color: #08FDD8;
    color: #111;
    font-weight: bolder;
}

.pag_prev{
    width: 60px;
    height: 30px;
    color: #FD2155;
    outline: none;
    border: 1px solid #FD2155;
    background: linear-gradient(to right, transparent 50%,#FD2155 50%);
    background-size: 200%;
    background-position: left;
    cursor: pointer;
    transition: background-position 0.2s;
}

.pag_prev:hover {
    background-position: right;
    color: #111;
    font-weight: bolder;
}

.pag_next {
    width: 60px;
    height: 30px;
    color: #FD2155;
    outline: none;
    border: 1px solid #FD2155;
    background: linear-gradient(to left, transparent 50%,#FD2155 50%);
    background-size: 200%;
    background-position: right;
    cursor: pointer;
    transition: background-position 0.2s;
}

.pag_next:hover {
    background-position: left;
    color: #111;
    font-weight: bolder;
}


/* #202020 */
/* #08FDD8  botones turquesa*/
/* #FD2155 botones rosa */