* {
    font-family: 'Anek Malayalam', sans-serif;
}
.about_container {
    width: 100%;
    height: 100vh;
    background: #1D4350;  
    background: -webkit-linear-gradient(to right, #A43931, #1D4350); 
    background: linear-gradient(to right, #A43931, #1D4350);
    padding-top: 30px; 
}

.about_card {
    width: 350px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: none;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
    /* border-radius: 5px; */
    background: #202020;
    animation: fadeIn 0.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about_card img {
    width: 100px;
    height: auto;
    margin-top: 30px;
    border-radius: 50%;
    border: 4px solid #486974;
    box-shadow: 5px 5px 5px rgb(37, 37, 37);
}

.hero_container {
    width: 80%;
    height: 120px;
    text-align: center;
}

.about_title {
    font-size: 22px;
    color: rgb(189, 186, 186);
}

.about_subtitle{
    font-size: 18px;
    color: #45ecd3;
    letter-spacing: 2px;
}

.text_container {
    width: 85%;
    text-align: justify;
    color: #666;
    font-size: 14px;
    letter-spacing:1px;
}

.about_card a {
    width: 85%;
    height: 40px;
    margin-bottom: 20px;
    background: #FD2155;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #111;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.about_card a:hover {
    background-color: #fc3967
}

@media screen and (max-width: 380px) {
    
    .about_card {
        width: 90%;
    }
    }